<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="vux-cell-bd">
            <p>
                <label class="vux-label">Line width</label>
            </p>
            <span class="vux-label-desc">value is: 60</span>
        </div>
        <div class="weui-cell__ft vux-cell-primary">
            <div class="vux-range-input-box" style="position: relative; margin-right: 30px; margin-left: 50px;">
                <input class="vux-range-input" style="display: none;">
                <p class="range-bar unselectable" style="height: 4px;">
                    <span class="range-handle" style="left: 94.2px; top: -13px;"></span>
                    <span class="range-min">0</span><span class="range-max">100</span>
                    <span class="range-quantity" style="width: 94.2px;"></span>
                </p>
            </div>
        </div>
    </div>
</div>