<div class="inline-calendar">
    <div class="calendar-header">
        <div class="calendar-year">
            <span>
              <a href="javascript:" class="year-prev vux-prev-icon"></a>
            </span>
            <a href="javascript:" class="calendar-year-txt calendar-title">2020</a>
            <span class="calendar-header-right-arrow">
              <a href="javascript:" class="year-next vux-next-icon"></a>
            </span>
        </div>
        <div class="calendar-month">
            <span>
              <a href="javascript:" class="month-prev vux-prev-icon"></a>
            </span>
            <a href="javascript:" class="calendar-month-txt calendar-title">11</a>
            <span class="calendar-header-right-arrow">
              <a href="javascript:" class="month-next vux-next-icon"></a>
            </span>
        </div>

    </div>

    <table>
        <thead>
            <tr>
                <th class="week is-week-list-0">日</th>
                <th class="week is-week-list-1">一</th>
                <th class="week is-week-list-2">二</th>
                <th class="week is-week-list-3">三</th>
                <th class="week is-week-list-4">四</th>
                <th class="week is-week-list-5">五</th>
                <th class="week is-week-list-6">六</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="vux-calendar-each-date">1</span>
                    <div></div>
                </td>
                <td>
                    <span class="vux-calendar-each-date">2</span>
                    <div></div>
                </td>
                <td>
                    <span class="vux-calendar-each-date">3</span>
                    <div></div>
                </td>
                <td>
                    <span class="vux-calendar-each-date">4</span>
                    <div></div>
                </td>
                <td>
                    <span class="vux-calendar-each-date">5</span>
                    <div></div>
                </td>
                <td>
                    <span class="vux-calendar-each-date">6</span>
                    <div></div>
                </td>
                <td>
                    <span class="vux-calendar-each-date">7</span>
                    <div></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>