<div class="weui-cells">
    <div data-v-786ecf72="" class="vux-x-input weui-cell">
        <div class="weui-cell__hd">
            <label for="vux-x-input-th3s6" class="weui-label" style="width: 5em;">{{widget.title}}</label>
        </div>
        <div class="weui-cell__bd weui-cell__primary vux-x-input-placeholder-right">
            <input id="vux-x-input-th3s6" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" [attr.type]="widget.field_type" [attr.placeholder]="widget.placeholder" class="weui-input">
        </div>
        <div class="weui-cell__ft">
            <i class="weui-icon weui_icon_clear weui-icon-clear" style="display: none;"></i>
            <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" title="" style="display: none;"></i>
            <i class="weui-icon weui_icon_success weui-icon-success" style="display: none;"></i>
            <i class="vux-input-icon weui-icon weui_icon_success weui-icon-success" style="display: none;"></i>
            <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;"></i>
        </div>
        <div class="vux-toast">
            <div class="weui-mask_transparent" style="display: none;"></div>
            <div class="weui-toast weui-toast_text" style="width: auto; display: none;">
                <i class="weui-icon-success-no-circle weui-icon_toast" style="display: none;"></i>
                <p class="weui-toast__content" style="padding: 10px;"></p>
            </div>
        </div>
    </div>
</div>